@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Define Variables */
$primary-color: #007BFF;
$secondary-color: #0056b3;
$background-color: #333;
$text-color: #fff;
$light-gray: #f4f4f4;
$dark-gray: #575757;
$max-width: 1200px;
$burgerWidth: 30px;
$burgerBarHeight: 3px;
$burgerBarColor: $text-color;

.header {
  background-color: $background-color;
  color: $text-color;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  font-family: 'Roboto', sans-serif;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 1rem;

    .logo {
      font-size: 1.5rem;
      font-weight: bold;

      span.first-word {
        font-weight: 400;
      }
    }

    .text-container {
      position: relative;
      display: inline-block;
    }

    .blinking-cursor {
      display: inline-block;
      width: 0.5em;
      height: 1em;
      background-color: $text-color;
      margin-left: -0.2em;
      animation: blink 1s step-end infinite;
    }

    .burger-menu {
      display: none;
      cursor: pointer;

      .burger-container {
        position: relative;

        .burger-inner {
          position: absolute;
          width: calc(#{$burgerWidth} - 2 * #{$burgerBarHeight});
          left: 0;
          top: 11px;
          border: $burgerBarHeight solid $burgerBarColor;
          transition: border-color .2s ease-in .2s;

          &::before,
          &::after {
            position: absolute;
            content: '';
            left: -$burgerBarHeight;
            width: calc(#{$burgerWidth} - 2 * #{$burgerBarHeight});
            border: $burgerBarHeight solid $burgerBarColor;
            transition: top .2s ease-in .3s, transform ease-in .2s;
          }

          &::before {
            top: -6px;
          }

          &::after {
            top: 4px;
          }
        }
      }

      &.active .burger-container .burger-inner {
        border-color: transparent;
        transition: border-color ease-in .1s;
      }

      &.active .burger-container .burger-inner::before {
        top: -$burgerBarHeight;
        transform: rotate(-45deg);
        transition: top ease-out .2s, transform .2s ease-out .3s;
      }

      &.active .burger-container .burger-inner::after {
        top: -$burgerBarHeight;
        transform: rotate(45deg);
        transition: top ease-out .2s, transform .2s ease-out .3s;
      }
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 1rem;

      li {
        margin: 0;

        a {
          color: $text-color;
          padding: 0.5rem 1rem;
          transition: background 0.3s;

          &:hover {
            background-color: $dark-gray;
          }

          fa-icon {
            margin-left: 0rem;
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 0;
      background-color: $background-color;
      width: 100%;
      text-align: left;

      li {
        margin: 0;

        a {
          display: block;
        }
      }
    }

    .nav-links.active {
      display: flex;
    }

    .burger-menu {
      display: flex;
      margin-left: auto;
    }
  }
}
