<!-- app.component.html -->

<!-- Header Section -->
<header class="header">
  <nav class="navbar">
    <div class="logo">Noman Tanveer
      <div class="text-container">
        <span class="blinking-cursor"></span>
      </div>
    </div>
    
    <ul class="nav-links">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#blog">Blog</a></li>
    </ul>
  </nav>
</header>

<body class="font-roboto">
<!-- Hero Section -->
<section id="home" class="hero">
  <div class="hero-content">
    <h1><span class="first-word">Noman</span> Tanveer</h1>
    <p>Hi, I'm Noman Tanveer, a passionate Machine Learning Engineer.</p>
    <a href="#projects" class="btn">View My Work</a>
  </div>
</section>

<!-- About Section -->
<section id="about" class="about">
  <h2>About Me</h2>
  <p>
    I'm a passionate Machine Learning Engineer with experience in NLP, LLMs and Generative AI. I love reading good research papers. Understanding the maths behind an algorithm. I am interested in the Maths behind the AI magic. 
  </p>
</section>

<!-- Projects Section -->
<section id="projects" class="projects">
  <h2>My Projects</h2>
  <div class="project-list">
    <div class="project-item">
      <h3>Personal Assistant Chatbot</h3>
      <p>You can give a file to this chatbot and ask it questions about that document. (Coming Soon)</p>
    </div>
    <div class="project-item">
      <h3>Image Impainting using Diffusion Models</h3>
      <p>Replace one object in an image with another. (Coming Soon)</p>
    </div>
    <div class="project-item">
      <h3>Information Extraction</h3>
      <p>Given a text corpus of text or a file, this model can extract key-value pairs from the text. (Coming Soon)</p>
    </div>
    <!-- Add more projects as needed -->
  </div>
</section>
</body>
<!-- Contact Section -->
<section id="contact" class="contact">
  <h2>Contact Me</h2>
  <ul>
    <li><a href="https://www.linkedin.com/in/noman-tanveer-a28973140/" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/Noman-Tanveer" target="_blank">GitHub</a></li>
    <li><a href="mailto:nomantanveer021@gmail.com">Email</a></li>
    <li><a href="https://x.com/NomanTa98551465">X</a></li>
  </ul>
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea>
    </div>
    <button type="submit" class="btn">Send</button>
  </form>
</section>

<!-- Footer Section -->
<footer class="footer">
  <p>&copy; 2024 Noman Tanveer. All rights reserved.</p>
</footer>
