<app-header></app-header>

<section class="projects">
  <h2>Projects</h2>
  <div class="project-list">
    <div class="project-item" id="chatbot">
      <h3>Chatbot</h3>
      <p>A chatbot application for code generation to speed up development process.</p>
      <app-assistant-chatbot></app-assistant-chatbot>
      <!-- Add chatbot functionality here -->
    </div>
    <div class="project-item" id="image-segmentation">
      <h3>Image Segmentation Canvas</h3>
      <p>An interactive canvas for image segmentation. (Coming Soon)</p>
      <!-- Add image segmentation functionality here -->
    </div>
    <div class="project-item" id="image-inpainting">
      <h3>Interactive Image Inpainting</h3>
      <p>An interactive canvas for image inpainting. (Coming Soon)</p>
      <!-- Add image inpainting functionality here -->
    </div>
  </div>
</section>

<app-footer></app-footer>
